/* Write your CSS code here */
.bg-container {
  background-color: white;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .bg-container {
    padding: 5px;
  }
}

.content-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .content-card {
    justify-content: space-around;
  }
}

.logo-card {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .logo-card {
    padding-right: 30px;
  }
}
.logo {
  height: 35px;
  width: 35px;
}
.heading {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 25px;
  padding-left: 5px;
}
.list-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-item {
  color: #12022f;
  font-size: 20px;
  padding-right: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  text-decoration: none;
}
